* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #333;
    height: 100vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    margin-top: -500px;
    color: slateblue;
    text-transform: uppercase;
    font-size: 2.5rem;
}

h4 {
    position: absolute;
    margin-bottom: -570px;
    color: #f9f9f9;
}

a {
    color: slateblue;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.img-container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s ease-out;
}

span {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.buttons {
    position: relative;
    width: 300px;
    background-color: white
}

.btn {
    position: absolute;
    bottom: -150px;
    color: #f3f3f3;
    padding: 10px 20px;
    cursor: pointer;
}

#prev {
    left: 20%;
    border-radius: 10px 0 0 10px;
    background: linear-gradient( to right, rgb(168, 0, 119, 0.5), rgba(75, 77, 224, 0.5));
}

#next {
    right: 20%;
    border-radius: 0 10px 10px 0;
    background: linear-gradient( to right, rgba(75, 77, 224, 0.5), rgb(168, 0, 119, 0.5));
}